{% extends "accounts/main.html"%}


{%block content%}
<h1>Your Order Information</h1>
{% include "accounts/status.html"%}

{% comment %} #Start of customer block {% endcomment %}
<br>

<div class="row">
	<div class="col-md-5">
		<h5>YOUR CUSTOMERS:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Create Customer</a>
			<table class="table table-sm">
				<tr>
					<th>Your Customer</th>
					<th>Your Customer's Phone</th>
				</tr>
                    </tr>
                    {% for c in customers %}
                    <tr>
                        <td>{{c.name}}</td>
                        <td>{{c.phone}}</td>
                    </tr>
                    {% endfor %}
			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>YOUR LAST 5 ORDERS</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{%  url create_order %}">Create Order</a>
			<table class="table table-sm">
				<tr>
					<th>Product Type</th>
					<th>Date Purchased</th>
					<th>Status of Order</th>
					<th>Update Order</th>
					<th>Remove Order</th>
                </tr>

                {% for o in orders %}
                <tr>
                    <td>{{o.product}}</td>
                    <td>{{o.date}}</td>
                    <td>{{o.status}}</td>
                    <td><a href="">Update</td>
                    <td><a href="">Delete</td>
                </tr>
                {% endfor %}

			</table>
		</div>
	</div>

</div>
{% endblock %} 

