<div class="card-deck">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Total Orders</h5>
        <p class="card-text">{{t_orders}}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Delivered Orders</h5>
        <p class="card-text">{{delivered}}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Orders in the making</h5>
        <p class="card-text">{{pending}}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>